/* typographie */
@font-face {
    font-family: 'amblelight';
    src: url('amble-light-webfont.woff2') format('woff2'),
         url('amble-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ambleregular';
    src: url('amble-regular-webfont.woff2') format('woff2'),
         url('amble-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'amblebold';
    src: url('amble-bold-webfont.woff2') format('woff2'),
         url('amble-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ambleitalic';
    src: url('amble-italic-webfont.woff2') format('woff2'),
         url('amble-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*------------------------------------------ element principal------------------------------------------ */
body
{  
   width: 100%;
   height: auto;
   margin: 0px;
   padding-left: 0px;
   overflow-x: hidden; 
   background-color: #FFFFFF;
   color: #212121;
   font-family: sans-serif;
   font-size: 15px;
    display: flex;
   flex-direction: row;
}

aside h3, main h1, main h3, main h4
{
    text-transform: uppercase;

}

main h1, main h3, aside h3
{
    text-shadow: 0px 0px 2px black;
}

aside:nth-child(1)
{
    flex: 1;
}

main:nth-child(2)
{
    flex: 2;
}






/*------------------------------------------ aside------------------------------------------ */

aside
{
    background-color: #B388FF; 
   
}

figure img
{
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.5);
    margin: 50px 50px 50px 62px;
    width : 60%;
   
}

aside h3 
{
    background-color: #616161;
    color: #B388FF;
    font-size: 30px;
    text-align: center;
}

#coordonnée
{
    padding: 40px 40px 40px 40px;
    margin-bottom: -30px;  
}

#moi
{
    text-align: justify;
    padding: 40px 40px 40px 40px;
    margin-bottom: 400px;
}

.icon_loisir
{    
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 50%;    
}

#icon
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-top: 45px;
}



/* ------------------------------------------article------------------------------------------ */

main
{
    
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

main header
{
    margin-top:     110px;
    margin-bottom:  -60px;
}

main h1
{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 200px;   
}

#colorlabarre 
{
    color: #B388FF;   
}

#bc
{
    border-bottom:  3px solid #B388FF ;
}

main h2
{
    margin-top: -200px;
    margin-bottom: 200px;
}

main h3
{
    font-size: 30px;
    margin-top: 230px;
    margin-bottom: 50px;
    border-bottom: 3px solid #B388FF;
}

.formations
{
    margin-top: -100px;
}  


.exp, .form
{
    display: flex;
    text-align: justify;
    justify-content:space-between;
    margin-bottom: 50px;
}

.date:nth-child(1)
{
    flex: 1;
}
.descriptif:nth-child(2)
{
    flex: 2;    
}

.descriptif
{
    text-align: justify;
    position: relative;
    margin-top: -30px;   
}


.personne
{
    display: flex; 
    flex-direction: row;
    margin-top: -20px;
}

article .r2
{
    margin-left: 50px;
}

main h4
{
    position: relative;
    top: 10px;
     
}



/* ------------------------------------------css pour un site résponsive(Médias queries) ------------------------------------------*/

@media all and (max-width: 768px)
{
    /* élement principale */
body
{
    display: flex;
    flex-direction: column;
        
} 
main
{
    order: 1;
}

aside
{
    order: 2;
}


    /*------------------------------------------ aside ------------------------------------------*/

aside
{
    padding-left: 40px;
    padding-right: 40px;
}

figure img
{
    margin: 25px 25px 25px 45px;   
}

aside h3
{
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;     
}

#coordonnée
{
    padding-left: 0px;
    padding-right: 0px;
}
#moi
{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}
 
#icon
{
    margin: 10px 15px 15px 10px;
}
   
    
    
 
    /*------------------------------------------ main ------------------------------------------*/
    
.exp ,.form, .recommandations
{
    display: block;
    margin-bottom: 30px;
        
}

main header 
{
   margin-top: 40px; 
   margin-bottom: -140px;
}

main h1
{
    font-size: 23px;  
}
    
main h2
{
margin-bottom: 10px;      
}
    
main h3
{
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.formations
{
    margin-top: 180px;
}

.personne
{
    display: block;
}

article .r2
{
    margin-left: 0px;
}

main h4
{
    font-size: 14px;
}    
    
}